.Rproj.user
.Rhistory
.RData
.Ruserdata
images
events/2023/rsconnect
events/2023/_extensions
events_presentation
.DS_Store
gif
banner-portfolio-centered.png
.Rdata
.httr-oauth
.quarto
~/Library/Application Support/meetupr/meetupr-token.rds
data
events/2024/intro_presentation/data
rladies_rome_members.rds
rladies_rome.rds