.Rproj.user
.Rhistory
.RData
.Ruserdata
events/2023/intro_presentations
images
events/2023/rsconnect
events/2023/_extensions
events_presentation
.DS_Store
gif
banner-portfolio-centered.png
.Rdata
.httr-oauth
.quarto
~/Library/Application Support/meetupr/meetupr-token.rds
